@use "tailwindcss";

// Estilos globales
    $primary-color: oklch(.278 .033 256.848);;
    $secondary-color: oklch(.967 .003 264.542);
    $bg-color: #fff;
    $text-prmary: #fff;
    $text-secondary: oklch(.278 .033 256.848);
    $text-tertiary: oklch(.446 .03 256.802);
    $max-width: 64rem;
    $detail-medium-contrast: rgb(234, 234, 234);

/* Variables para Dark Mode */
.dark-mode {
    $primary-color: hsla(220, 100%, 70%, 1);
    $secondary-color: hsla(220, 20%, 80%, 1);
    $bg-color: hsla(220, 10%, 10%, 1);
    $text-color: hsla(220, 15%, 90%, 1) ;
}

// 🌟 Mixins reutilizables


// 📌 Bloques
.footer{
  background-color: $primary-color;
  @apply p-6 text-center;
  
  &__content{
    color: $text-prmary
  }
}

.header {
  @apply p-6 flex justify-between items-center  shadow-lg;
  background-color: $primary-color;
  color: $text-prmary;
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

  &__logo {
    @apply font-bold text-2xl;
  }

  &__list{
    @apply space-x-6;
  }
}

.gallery {
  display: flex; /* Controla disposición horizontal o vertical */
  gap: 1.5rem; /* Define el espaciado entre los elementos */
  padding: 2rem; /* Espaciado interno */
  justify-content: center; /* Centra los elementos horizontalmente */
  flex-wrap: wrap;

  &--vertical {
    flex-direction: column; /* Muestra elementos en disposición vertical */
  }

  &--horizontal {
    flex-direction: row; /* Muestra elementos en disposición horizontal */
  }

  &__item {
    flex: 1; /* Los hace flexibles */
    text-align: center; /* Centra contenido interno */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  &--image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min-content;
    margin: auto;

    & .gallery__item{
      width: 18rem;
    }

    & .gallery__image{
      width: 300px;
      border-radius: 8px;
      box-shadow: 0 2px 10px #0000001a;
    }

        /* Media Query para pantallas más pequeñas */
        @media (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr); /* Dos elementos por fila */
        }
    
        /* Media Query para pantallas muy pequeñas */
        @media (max-width: 480px) {
          grid-template-columns: 1fr; /* Un solo elemento por fila */
        }
        
  }

  &--icon{

    & .gallery__item{
      display: inline-block;
      border-radius: 50rem;
      padding: 10px;

    }

    & .gallery__icon{
      font-size: 4rem; /* Escala los iconos */
      width: 4rem;
    }
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none; // Desactiva el estilo nativo de ambas listas

  &__item {
      padding-left: 2em;
      position: relative;
      @apply mb-2;
      text-align: start;
  }

  &--numbered {
      counter-reset: item; // Inicializa el contador

      & .list__item {
          counter-increment: item; // Incrementa el contador

          &::before {
              content: counter(item) ". "; // Agrega el número
              position: absolute;
              left: 0;
              color: $text-secondary;
              font-weight: bold;
          }
      }
  }

  &--bulleted {
    & .list__item {
          &::before {
              content: "•"; // Punto personalizado
              position: absolute;
              left: 0;
              color: $text-secondary;
              font-size: 1.2em;
          }
      }
  }
}



.button{
  @apply flex items-center justify-center shadow-md transition w-fit;
  border-radius: .95rem;
  color: inherit;
  margin: auto;

  &:hover{
    background-color: $secondary-color;
  }

  &--principal{
    background-color: $primary-color;
    @apply mt-6 px-6 py-3 ;

    &:hover{
      background-color: $bg-color;
      color: $text-secondary
    }
  }

  &--outbound{
    @apply mt-6 px-6 py-3  space-x-2 font-semibold relative overflow-hidden shadow-none;
  }

  &--back{
    @apply mt-6 px-6 py-3  space-x-2 font-medium shadow-none mt-0;
    position: fixed;
    top: 1;
    left: 20;
    z-index: 1000;
  }

  &--primary{
    background-color: $bg-color;
    font-weight: 700;

    &:hover{
      background-color: $secondary-color;
    }
  }

  &--secondary{
    background-color: $secondary-color;
    font-weight: 700;

    &:hover{
      background-color: $bg-color;
    }
  }

  &__arrow {
    @apply absolute left-8 flex items-center text-gray-900 ;
  }

  &__text {
    color: $text-prmary;
    @apply text-lg font-bold ;
    
    &--secondary{
      color: $text-secondary;
    }
  }

}

.card{
  background-color: $secondary-color;
  @apply flex text-center p-6 w-full shadow-lg rounded-lg flex-col;

  &--skills{
    @apply flex-row space-x-4 ;
    background-color: $bg-color;
    flex-direction: row !important;
  }

  &--primary{
    background-color: $bg-color;
  }

  &__img {
    @apply mb-4 rounded-md ;
    width: 250px;
    height: 150px;
    margin: auto;
  }

  &__title{
    @apply text-xl font-semibold;
    color: $text-secondary;
  }

  &__text{
    color: $text-tertiary;
    @apply text-center;
  }
}

.section{
  scroll-margin-top: 80px; /* Ajusta según la altura de tu navbar */
  background-color: $bg-color;
  @apply flex flex-col items-center justify-center ;

  &--introduction{
    @apply text-center h-screen;
  }

  &--tertiary{
    background-color: $primary-color;

    & .section__title{
      color: $text-prmary;
    }
  
    & .section__subtitle{
      color: $text-prmary;
    }
  
  
    & .section__content{
      color: $text-prmary;
    }

  }

  &--secondary{
    background-color: $secondary-color;
  }

  &--primary{
    background-color: $bg-color;
  }

  &__container{
    max-width: $max-width;
    padding: 4rem 1.5rem;
    margin: auto;
    @apply w-full;

    &--center{
     @apply flex flex-col items-center justify-center ;
    }

    &--spaced {
      @apply flex items-center; /* Mantiene flexibilidad */
      display: flex;
      gap: 2rem;
      align-items: center; /* Asegura que los elementos estén alineados */

              /* Media Query para pantallas más pequeñas */
              @media (max-width: 768px) {
                & .section__content{
                  width: 40% !important;
                }
             }
          
              /* Media Query para pantallas muy pequeñas */
              @media (max-width: 480px) {
                flex-wrap: wrap;
                gap: 0rem !important;

                & .section__content{
                  width: 100% !important;
                }
            }

      & .section__content{
        width: 40%;
      }
    }

    &--secondary{
      background-color: $secondary-color
    }

    &--full{
      width: 100%;
      max-width: none;
    }
  }

  &__title{
    @apply text-4xl font-semibold text-center mb-6;
    color: $text-secondary;
  }

  &__subtitle{
    color: $text-secondary;
    @apply text-2xl font-semibold  text-left mb-4;

    &--center{
      @apply text-center ;
    }
  }

  &__image{
    border-radius: 25px;
    @apply py-3  ;
  }

  &__content{
    color: $text-tertiary;
    @apply mb-4 text-lg;

    &--sm{
      @apply text-sm;
    }

    &--highlighted{
      color: $text-secondary;
      @apply font-semibold ;
    }
  }
}

.badge{
  background-color: $primary-color !important;
  color: $secondary-color !important;
}

p {
  margin-top: 0 !important;
  margin-bottom: inherit !important;
}
a {
  color: inherit ;
  text-decoration: auto !important;
}

.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}

